<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport"  content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0">
	<meta name="keywords" content="ifood ifoods chain ifoodschain ifoodchain 超级探针 区块链 食品检测 食品安全 食品 superprobe probe">
	<meta name="description" content="ifood ifoods chain ifoodschain ifoodchain 超级探针 区块链 食品检测 食品安全 食品 superprobe probe">
	<meta name="author" content="ifooschain-development department">
	<meta name="robots" content="index,follow">
	<meta name="renderer" content="webkit">
	<title>Ifoods chain致力于成为全球食品领域区块链标准制定者</title>

	<!-- CSS -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
	<link rel="stylesheet" href="css/icomoon.css">
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/swiper.min.css">
	<link rel="stylesheet" href="css/animate.css">
	<link rel="stylesheet" href="css/form-elements.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/media-queries.css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- Favicon and touch icons -->
	<link rel="shortcut icon" href=" ico/ifoodsLogo.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/ifoodsLogo.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/ifoodsLogo.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/ifoodsLogo.png">
	<link rel="apple-touch-icon-precomposed" href="ico/ifoodsLogo.png">

	<!--angular-translate-->
	<script src="js/angular.min.js"></script>
	<script src="js/angular-translate.min.js"></script>
	<script src="js/angular-loader-static-files.js"></script>
	<script src="js/angular-sanitize.min.js"></script>

	<style>

	</style>
</head>

<body ng-controller="myControlller">

	<!-- Loader -->
	<div class="loader">
		<div class="loader-img"></div>
	</div>

	<!-- disclaimerTop-->
	<div class="top-disclaimer">
		<div ng-if="!langSelectIndex" class="showDisclaimerBtn" onclick="showDis()"><span>IFOOD TOKEN 购买协议和免责声明</span><i></i></div>
		<div ng-if="langSelectIndex" class="showDisclaimerBtn" onclick="showDis()"><span>IFOOD PURCHASE AGREEMENT & DISCLAIMER</span><i></i></div>
		<span class="closeTopDisclaimer"></span>
	</div>

	<!-- Top menu -->
	<nav class="navbar navbar-inverse navbar-fixed-top navbar-no-bg" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#top-navbar-1">
					<span class="sr-only"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="index.html"></a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="top-navbar-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a class="scroll-link" href="#top-content" ng-bind-html=" 'message.home' | translate"></a></li>
					<li><a class="scroll-link" href="#whitebook" ng-bind-html=" 'message.whitebook' | translate"></a></li>
					<li><a class="scroll-link" href="#superProbe" ng-bind-html=" 'message.superprobe' | translate"></a></li>
					<li><a class="scroll-link" href="#news" ng-bind-html=" 'message.news' | translate"></a></li>
					<li><a class="scroll-link" href="#footer" ng-bind-html=" 'message.community' | translate"></a></li>
					<li><a href="javascript:;" ng-click="changeLangSelectIndex()">{{langs[langSelectIndex].name}}</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Top content -->
	<div class="top-content">
		<div class="inner-bg">
			<div class="container" >
				<div class="row">
					<div class="col-sm-10 col-sm-offset-1 text" >
						<div ng-if="country != 'cn' ">
							<h1 class="wow fadeInDownBig" ng-bind-html=" 'topCont.title' | translate "></h1>
							<div class="description wow fadeInUp" data-wow-duration="2s" data-wow-delay="1s">
								<p ng-bind-html=" 'topCont.des' | translate" style="overflow:hidden; word-wrap: break-word"></p>
							</div>
						</div>

						<div class="userRecruitBox wow fadeIn" ng-class="{'cn' :'show'}[country]" data-wow-duration="1s" data-wow-delay=".6s">
							<div class="top-big-link wow bounceIn" data-wow-duration="1s" data-wow-delay=".5s"></div>
						</div>

					</div>


				</div>
			</div>
		</div>
	</div>

	<!-- WhiteBook -->
	<div class="whitebook-container section-container section-container-gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-sm-5 more-features-box wow fadeInLeftBig">
					<img src=" img/backgrounds/ablouIfoods-chain.png">
				</div>
				<div class="col-sm-6  col-sm-offset-1 more-features-box wow fadeInRightBig">

					<h3 class="section-heading" ng-bind-html=" 'aubouChain.title' | translate"></h3>
					<div class="sub-title lead3" ng-bind-html=" 'aubouChain.content' | translate"></div>

					<!--whitebook type-->
					<div class="more-features-box-text col-sm-6">
						<div class="more-features-box-text-icon"><img src="img/backgrounds/2-1.png" alt=""></div>
						<h3 ng-bind-html=" 'aubouChain.segment' | translate"></h3>
					</div>
					<div class="more-features-box-text col-sm-6">
						<div class="more-features-box-text-icon"><img src="img/backgrounds/2-2.png" alt=""></div>
						<h3 ng-bind-html=" 'aubouChain.field' | translate"></h3>
					</div>
					<div class="more-features-box-text col-sm-6">
						<div class="more-features-box-text-icon"><img src="img/backgrounds/2-3.png" alt=""></div>
						<h3 ng-bind-html=" 'aubouChain.industry' | translate"></h3>
					</div>
					<div class="more-features-box-text col-sm-6">
						<div class="more-features-box-text-icon"><img src="img/backgrounds/2-4.png" alt=""></div>
						<h3 ng-bind-html=" 'aubouChain.area' | translate"></h3>
					</div>

					<!--whitebook description-->
					<p class="lead" ng-bind-html=" 'aubouChain.content1' | translate"></p>

					<!--whitebook btn-->
					<div class="col-sm-12 section-bottom-button wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
						<a class="btn btn-link-1 wow tada"  ng-href="{{cnWhiteBook}}" ng-bind-html=" 'aubouChain.linkBtn' | translate " target="_blank" data-wow-duration="2s" data-wow-delay="1.5s" data-wow-offset="-1000" ng-if="!langSelectIndex"></a>
                        <a class="btn btn-link-1 wow tada"  ng-href="{{enWhiteBook}}" ng-bind-html=" 'aubouChain.linkBtn' | translate " target="_blank" data-wow-duration="2s" data-wow-delay="1.5s" data-wow-offset="-1000" ng-if="langSelectIndex"></a>
					</div>

				</div>
			</div>
		</div>

        <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" id="whitepaperModal" data-backdrop="static">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel" ng-bind-html=" 'whitebookUpdateModal' | translate"></h4>
                    </div>
                    <div class="modal-footer" style="text-align: center">
                        <button type="button" class="btn btn-info" data-dismiss="modal" ng-bind-html=" 'aubouChain.whitePaperModalBtn' | translate "></button>
                    </div>
                </div>
            </div>
        </div>
	</div>

	<!-- Vision -->
	<div class="vision-container section-container commonPadding120">
		<div class="container">
			<div class="row">
				<div class="col-sm-4 features-box wow fadeInUp">
					<div class="features-box-icon wow">
						<img src="img/backgrounds/left-vision-img.png" alt="图片未加载">
					</div>
					<h3 ng-bind-html=" 'vision.leftTitle' | translate"></h3>
					<p ng-bind-html=" 'vision.leftContent' | translate"></p>
				</div>
				<div class="col-sm-4 features-box wow fadeInDown">
					<div class="features-box-icon wow">
						<img src="img/backgrounds/center-vision-img.png" alt="图片未加载">
					</div>
					<h3 ng-bind-html=" 'vision.centerTitle' | translate"></h3>
					<p ng-bind-html=" 'vision.centerContent' | translate"></p>
				</div>
				<div class="col-sm-4 features-box wow fadeInUp">
					<div class="features-box-icon wow">
						<img src="img/backgrounds/right-vision-img.png" alt="图片未加载">
					</div>
					<h3 ng-bind-html=" 'vision.rightTitle' | translate"></h3>
					<p ng-bind-html=" 'vision.rightContent' | translate"></p>
				</div>
			</div>

		</div>
	</div>

	<!-- Usp System -->
	<div class="uspSystem-container section-container section-container-gray-bg commonPadding120">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 great-support-box wow fadeInLeft uspAdvanCont">
					<div class="great-support-box-text great-support-box-text-left">
						<h3 ng-bind-html=" 'advantage.title' | translate"></h3>
						<ul class="list-nav">
							<li ><i class="icon-check2"></i><span ng-bind-html=" 'advantage.content1' | translate"></span></li>
							<li><i class="icon-check2"></i><span ng-bind-html=" 'advantage.content2' | translate"></span></li>
							<li><i class="icon-check2"></i><span ng-bind-html=" 'advantage.content3' | translate"></span></li>
							<li><i class="icon-check2"></i><span ng-bind-html=" 'advantage.content4' | translate"></span></li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6 great-support-box wow fadeInUp">
					<img src=" img/backgrounds/uspAdvantage.png" alt="">
				</div>
			</div>
		</div>
	</div>

	<!-- solution -->
	<div class="solution-container section-container section-container-image-bg">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 how-it-works section-description wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
					<h2 ng-bind-html=" 'solution.title' | translate"></h2>
					<div class="divider-1 wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;"><span></span></div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4  how-it-works-box wow fadeInUp">
					<div class="how-it-works-box-icon"><img src="img/ifoodsIcon/solution-region.png" alt=""></div>
					<p ng-bind-html=" 'solution.content1' | translate"></p>
				</div>
				<div class="col-sm-4  how-it-works-box wow fadeInDown">
					<div class="how-it-works-box-icon"><img src="img/ifoodsIcon/solution-record.png" alt=""></div>
					<p ng-bind-html=" 'solution.content2' | translate"></p>
				</div>
				<div class="col-sm-4  how-it-works-box wow fadeInDown">
					<div class="how-it-works-box-icon"><img src="img/ifoodsIcon/solution-platform.png" alt=""></div>
					<p ng-bind-html=" 'solution.content3' | translate"></p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4  how-it-works-box wow fadeInUp">
					<div class="how-it-works-box-icon"><img src="img/ifoodsIcon/solution-analysis.png" alt=""></div>
					<p ng-bind-html=" 'solution.content4' | translate"></p>
				</div>
				<div class="col-sm-4  how-it-works-box wow fadeInDown">
					<div class="how-it-works-box-icon"><img src="img/ifoodsIcon/solution-safe.png" alt=""></div>
					<p ng-bind-html=" 'solution.content5' | translate"></p>
				</div>
				<div class="col-sm-4  how-it-works-box wow fadeInDown">
					<div class="how-it-works-box-icon"><img src="img/ifoodsIcon/solution-data.png" alt=""></div>
					<p ng-bind-html=" 'solution.content6' | translate"></p>
				</div>
			</div>
		</div>
	</div>

	<!-- SuperProbe -->
	<div class="superProbe-container section-container section-container-gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-sm-5 more-features-box wow fadeInLeftBig">
					<img src=" img/backgrounds/superProbeBg.png" alt="">
				</div>
				<div class="col-sm-5 col-sm-offset-1 more-features-box wow fadeInRightBig">

					<!--superProbe description-->
					<div>
						<h3 class="section-heading" ng-bind-html=" 'superprobe.title' | translate"></h3>
						<p class="lead" ng-bind-html=" 'superprobe.content' | translate"></p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- ifoodschain Video-->
	<div class="video-container section-container" >
		<div class="swiper-container" id="swiperVideo">
			<!--轮播图-->
			<div class="swiper-wrapper">
                <div class="swiper-slide" ng-if="!langSelectIndex">
                    <div class="videoItem">
                        <div class="playBtnBox"><span class="startPlay"></span></div>
                        <video src="https://ifoodschain-home-static-domestic.oss-cn-beijing.aliyuncs.com/videos/ifoodschain-cn.mp4" controls poster="img/video/ifoodschainVideoBanner.jpg"></video>
                    </div>
                </div>
				<div class="swiper-slide" ng-if="langSelectIndex">
					<div class="videoItem">
						<div class="playBtnBox"><span class="startPlay"></span></div>
						<video src="https://ifoodschain-home-static-domestic.oss-cn-beijing.aliyuncs.com/videos/ifoodschain-en.mp4" controls poster="img/video/ifoodschainVideoBanner.jpg"></video>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="videoItem">
						<div class="playBtnBox"><span class="startPlay"></span></div>
						<video src="https://ifoodschain-home-static-domestic.oss-cn-beijing.aliyuncs.com/videos/Founder-Kallon.mp4" controls poster="img/video/founder-kallon.png" ></video>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="videoItem">
						<div class="playBtnBox"><span class="startPlay"></span></div>
						<video src="https://ifoodschain-home-static-domestic.oss-cn-beijing.aliyuncs.com/videos/Founder-Fanzhikai.mp4" controls poster="img/video/founder-fanzhikai.png" ></video>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="videoItem">
						<div class="playBtnBox"><span class="startPlay"></span></div>
						<video src="https://ifoodschain-home-static-domestic.oss-cn-beijing.aliyuncs.com/videos/linboshi.mp4" controls poster="img/video/doctorLin.png" preload="auto"></video>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="videoItem">
						<div class="playBtnBox"><span class="startPlay"></span></div>
						<video src="https://ifoodschain-home-static-domestic.oss-cn-beijing.aliyuncs.com/videos/fenglishuang.mp4" controls poster="img/video/fenglishuang.png" ></video>
					</div>
				</div>
				<div class="swiper-slide">
					<div class="videoItem">
						<div class="playBtnBox"><span class="startPlay"></span></div>
						<video src="https://ifoodschain-home-static-domestic.oss-cn-beijing.aliyuncs.com/videos/zengsheng.mp4" controls poster="img/video/zengsheng.png" ></video>
					</div>
				</div>
			</div>
			<!--分页器-->
			<div class="swiper-pagination"></div>
		</div>

	</div>

	<!-- OurTeam -->
	<div class="ourTeam-container section-container">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 testimonials section-description wow fadeIn">
					<h2 ng-bind-html=" 'teamTitle' | translate"></h2>
					<div class="divider-1 wow fadeInUp"><span></span></div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-10 col-sm-offset-1 testimonial-list wow fadeInUp" ng-class="{'en-width':langSelectIndex}">
					<div class="swiper-container ourTeamBox" id="swiperTeam">
						<!--轮播图-->
						<div class="swiper-wrapper">
							<div class="swiper-slide" ng-repeat="item in ourTeam">
								<img ng-src="{{item.pic}}" alt="">
								<div ng-if="!langSelectIndex">
									<h1>{{item.name}}</h1>
									<p style="display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 4;overflow: hidden;">{{item.data}}</p>
								</div>
								<div ng-if="langSelectIndex">
									<h1>{{item.nameEnglish}}</h1>
									<p style="display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 4;overflow: hidden;">{{item.dataEnglish}}</p>
								</div>
							</div>
						</div>
						 <!--分页器-->
						<div class="swiper-pagination"></div>

					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- News-->
	<div class="news-container section-container section-container-gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 about-us section-description wow fadeIn">
					<h2 ng-bind-html=" 'news' | translate"></h2>
					<div class="divider-1 wow fadeInUp"><span></span></div>
				</div>
			</div>
			<div class="row newsCont">
				<div class="news-center-left">
					<a class="news-item col-sm-6" ng-repeat="new in News" ng-href="{{new.originalLink}}" ng-if="!langSelectIndex || new.nameEnglish">
						<div class="newIcon"><img ng-src="{{new.pic}}" class="item-img"></div>
                        <div ng-if="!langSelectIndex">
                            <div class="newTitle">{{new.name}}</div>
                            <div class="newView">{{new.overview}}</div>
                        </div>
						<div ng-if="langSelectIndex">
                            <div class="newTitle">{{new.nameEnglish}}</div>
                            <div class="newView">{{new.overviewEnglish}}</div>
                        </div>
					</a>
				</div>
			</div>
		</div>
	</div>

	<!-- OurParner -->
	<div class="ourPartner-container section-container">
		<div class="container">
			<!--<div class="row">-->
				<!--<div class="col-sm-12 about-us section-description wow fadeIn">-->
					<!--<h2 ng-bind-html=" 'partner' | translate"></h2>-->
					<!--<div class="divider-1 wow fadeInUp"><span></span></div>-->
				<!--</div>-->
			<!--</div>-->
			<div class="row">
				<div class="col-xs-2 about-us-box wow fadeInUp">
					<div class="about-us-photo">
						<img src="img/partner/partner1.jpg" alt="图片未加载">
					</div>
				</div>
				<div class="col-xs-2 about-us-box wow fadeInUp">
					<div class="about-us-photo">
						<img src="img/partner/partner2.jpg" alt="图片未加载">
					</div>
				</div>
				<div class="col-xs-2 about-us-box wow fadeInUp">
					<div class="about-us-photo">
						<img src="img/partner/partner3.jpg" alt="图片未加载">
					</div>
				</div>
				<div class="col-xs-2 about-us-box wow fadeInUp">
					<div class="about-us-photo">
						<img src="img/partner/partner4.jpg" alt="图片未加载">
					</div>
				</div>
				<div class="col-xs-2 about-us-box wow fadeInUp">
					<div class="about-us-photo">
						<img src="img/partner/partner5.jpg" alt="图片未加载">
					</div>
				</div>
				<div class="col-xs-2 about-us-box wow fadeInUp">
					<div class="about-us-photo">
						<img src="img/partner/partner6.jpg" alt="图片未加载">
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<footer class="footer-container">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 footer-social">
					<a href="https://www.facebook.com/ifoods.chain" target="_blank"><i class="fa fa-facebook"></i></a>
					<a href="https://twitter.com/IfoodsL" target="_blank"><i class="fa fa-twitter"></i></a>
					<a href="javascript:;"><i class="fa fa-github"></i></a>
					<a href="https://t.me/ifoodschainEN" target="_blank"><i class="fa fa-telegram" aria-hidden="true"></i></a>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 footer-copyright">
					<div><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="javascipt:;">IFD@ifoodschain.com</a></div>
					<div><i class="fa fa-telegram" aria-hidden="true"></i><a href="https://t.me/ifoodschainEN">https://t.me/ifoodschainEN</a></div>
				</div>
			</div>
		</div>
	</footer>

	<!-- disclaimer -->
	<div class="disclaimerContianer animated">
		<div class="disclaimerBox animated"  data-wow-delay=".3s">
			<div ng-if="!langSelectIndex" class="disclaimerCont">
				<h1>IFOOD TOKEN 购买协议和免责声明</h1>
				<h2>最后更新：2018年5月7日</h2>
				<div>
					<p>此IFOOD令牌购买协议（本“协议”）包含了关于您使用IFOOD智能合约（“IFOODSCHAIN分销合同”）的条款和条件;使用相关的ERC-20 IFOODSCHAIN令牌智能联系人（“IFOODSCHAIN令牌合同”）;并购买在以太坊区块链上分销的相关ERC-20兼容令牌（“IFOODSCHAIN令牌”），并且是您或您代表的实体（“买方”或“您”）与ifoodchain（“ifoodschain.io ，“连同其母公司，子公司和附属公司，”公司“）。买方，ifoodschain和公司在本文中分别称为“缔约方”，并统称为“缔约方”。</p>
					<p>因此，考虑到本协议中的相互陈述，保证和协议以及其他有利和有价值的考虑因素，本公司和买方在此同意如下：</p>
					<p>重要信息：请仔细阅读本协议并全文阅读。</p>
					<p>买方承认，理解并同意以下内容：</p>
					<p>与IFOODCHAIN.IO软件和国际食品平台相关的事项：</p>
					<p>ifoodchain.io正在开发IFOODCHAIN.IO软件（“IFOODSCHAIN.IO软件”），详情请参阅IFOODSCHAIN技术白皮书（可能会不时修订）（“白皮书”）;</p>
					<p>在开发阶段结束时，block.one将会发布它在开源软件许可下开发的IFOODSCHAIN.IO软件;</p>
					<p>出于任何目的，公司不会配置和/或启动任何采用开源IFOODSCHAIN.IO软件（“IFOODSCHAIN平台”）的公共区块链平台;</p>
					<p>IFOODSCHAIN平台的任何启动和实施都可能由与公司无关的第三方进行;</p>
					<p>启动IFOODSCHAIN平台的第三方可以在启动IFOODSCHAIN平台之前，期间或之后删除，修改或补充IFOODSCHAIN.IO软件;</p>
					<p>公司将无法控制何时，如何或是否采用或实施IFOODSCHAIN.IO软件，或者如何，何时或是否启动IFOODSCHAIN平台。</p>
					<p>约束协议：买方理解并同意买方受买方购买IFOOD令牌的约束并受本协议的约束。</p>
					<p>没有美国或中国买家：IFOOD代币不会被提供或分发给美国人（定义如下）或中国人（如下定义）。如果您是美利坚合众国（包括其州，领地或哥伦比亚特区）的公民，居民或居住在美国的人士或任何实体，包括但不限于任何创建或组织或在美利坚合众国，其任何州或领地或哥伦比亚特区（“美国人”）的法律，或者如果您是公民，居民或位于或居住在任何实体的人或任何实体，包括（但不限于）在中华人民共和国法律下或根据中华人民共和国法律创立或组建的任何公司或合伙企业（“中国人”），不购买或试图购买IFOOD代币。</p>
					<p>IFOODCHAIN TOKENS没有权利，使用或特性。 IFOOD令牌没有任何明示或暗示的权利，用途，目的，属性，功能或特性，包括但不限于IFOODSCHAIN平台上的任何用途，目的，属性，功能或特性。公司不保证也不以任何方式向买方表示IFOODTokens拥有任何权利，用途，目的，属性，功能或特性。</p>
					<p>不是购买国产平台游戏币。根据本协议购买的IFOODTokens不是IFOODSCHAIN平台上的标记。买方承认，理解并同意，买方不应该期望并且公司没有保证或表示买方将收到任何其他产品，服务，权利，属性，功能，特性或任何类型的资产，包括但不限于，现在或将来的任何密码令牌或数字资产，无论是通过收据，兑换，兑换，赎回还是其他方式。</p>
					<p>购买国际代币为不可退款且购买无法取消。买方可能会失去所有金额。</p>
					<p>IFOOD TOKENS可能没有价值。</p>
					<p>公司保留在任何时候拒绝或取消委托购买委托书的权利。</p>
				</div>
			</div>

			<div ng-if="langSelectIndex" class="disclaimerCont">
				<h1>IFOOD PURCHASE AGREEMENT & DISCLAIMER</h1>
				<h2>Last Updated: May 7, 2018</h2>
				<div>
					<p>This IFOOD Token Purchase Agreement (this “Agreement”) contains the terms and conditions that govern your use of the IFOOD distribution smart contract (the “IFOODSCHAIN Distribution Contract”); use of the related ERC-20 IFOODSCHAIN token smart contact (the “IFOODSCHAIN Token Contract”); and purchase of the related ERC-20 compatible tokens distributed on the Ethereum blockchain (the “IFOODSCHAIN Tokens”) and is an agreement between you or the entity that you represent (“Buyer” or “you”) and ifoodchain (“ifoodschain.io,” together with its parent company, subsidiaries and affiliates, “Company”). Buyer, ifoodschain and Company are herein referred to individually as a “Party” and collectively, as the “Parties”.</p>
					<p>NOW, THEREFORE, in consideration of the mutual representations, warranties and agreements contained in this Agreement, and for other good and valuable consideration, the receipt and sufficiency of which are hereby acknowledged, Company and Buyer hereby agree as follows:</p>
					<p>IMPORTANT INFORMATION: PLEASE READ THIS AGREEMENT CAREFULLY AND IN ITS ENTIRETY.</p>
					<p>Buyer acknowledges, understands and agrees to the following:</p>
					<p>MATTERS RELATING TO IFOODCHAIN.IO SOFTWARE AND IFOODSCHAIN PLATFORM:</p>
					<p>ifoodchain.io is developing the IFOODCHAIN.IO software (the “IFOODSCHAIN.IO Software”) as further described in the IFOODSCHAIN Technical White Paper (as it may be amended from time to time) (the “White Paper”);</p>
					<p>at the end of its development stage, block.one will be releasing the IFOODSCHAIN.IO Software it has developed under an open source software license;</p>
					<p>Company will not configure and/or launch any public blockchain platform adopting the open source IFOODSCHAIN.IO Software (the “IFOODSCHAIN Platform”) for any purpose;</p>
					<p>any launch and implementation of the IFOODSCHAIN Platform may occur by third parties unrelated to Company;</p>
					<p>third parties launching the IFOODSCHAIN Platform may delete, modify or supplement the IFOODSCHAIN.IO Software prior to, during or after launching the IFOODSCHAIN Platform; </p>
					<p>Company will have no control over when, how or whether the IFOODSCHAIN.IO Software is adopted or implemented, or how, when or whether the IFOODSCHAIN  Platform is launched.</p>
					<p>BINDING AGREEMENT: Buyer understands and agrees that Buyer is subject to and bound by this Agreement by virtue of Buyer’s purchase of IFOOD Tokens.</p>
					<p>NO U.S. OR CHINESE BUYERS: IFOOD Tokens are not being offered or distributed to U.S. persons (as defined below) or Chinese persons (as defined below). If you are citizen, resident of, or a person located or domiciled in, the United States of America including its states, territories or the District of Columbia or any entity, including, without limitation, any corporation or partnership created or organized in or under the laws of the United States of America, any state or territory thereof or the District of Columbia (a “U.S. person”), or, if you are citizen, resident of, or a person located or domiciled in, or any entity, including, without limitation, any corporation or partnership created or organized in or under the laws of the People’s Republic of China (a “Chinese person”), do not purchase or attempt to purchase IFOOD Tokens.</p>
					<p>IFOODCHAIN TOKENS HAVE NO RIGHTS, USES OR ATTRIBUTES. The IFOOD Tokens do not have any rights, uses, purpose, attributes, functionalities or features, express or implied, including, without limitation, any uses, purpose, attributes, functionalities or features on the IFOODSCHAIN Platform. Company does not guarantee and is not representing in any way to Buyer that the IFOODTokens have any rights, uses, purpose, attributes, functionalities or features.</p>
					<p>NOT A PURCHASE OF IFOODSCHAIN PLATFORM TOKENS. IFOODTokens purchased under this Agreement are not tokens on the IFOODSCHAIN Platform. Buyer acknowledges, understands and agrees that Buyer should not expect and there is no guarantee or representation made by Company that Buyer will receive any other product, service, rights, attributes, functionalities, features or assets of any kind whatsoever, including, without limitation, any cryptographic tokens or digital assets now or in the future whether through receipt, exchange, conversion, redemption or otherwise.</p>
					<p>PURCHASE OF IFOOD TOKENS ARE NON-REFUNDABLE AND PURCHASES CANNOT BE CANCELLED. BUYER MAY LOSE ALL AMOUNTS PAID.</p>
					<p>IFOOD TOKENS MAY HAVE NO VALUE.</p>
					<p>COMPANY RESERVES THE RIGHT TO REFUSE OR CANCEL IFOOD TOKEN PURCHASE REQUESTS AT ANY TIME IN ITS SOLE DISCRETION.</p>
				</div>
			</div>
			<a href="javascript:;" class="btn btn-default disclaimerBtn disabled "><i>10</i>s</a>
		</div>
	</div>


	<!-- Javascript -->
	<script src=" js/jquery-1.11.1.min.js"></script>
	<script src=" bootstrap/js/bootstrap.min.js"></script>
	<script src=" js/jquery.backstretch.min.js"></script>
	<script src=" js/wow.min.js"></script>
	<!--<script src=" js/retina-1.1.0.min.js"></script>-->
	<script src=" js/waypoints.min.js"></script>
	<script src=" js/swiper.jquery.min.js"></script>
	<script src=" js/app.js"></script>
	<script src=" js/scripts.js"></script>

	<!--[if lt IE 10]>
		<script src=" js/placeholder.js"></script>
	<![endif]-->

</body>
</html>